*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}

.form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0.1);
    text-align: center;
    background: #fff;
    width: 450px;
}

.form-container form h2{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
}

.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    margin: 8px 0;
    background: #eeeeee;
    border-radius: 5px;
}

.form-container form select option{
    background: #fff;
}

.form-container form .form-btn{
    background: #fbd0d9;
    color: #dc143c;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background: #dc143c;
    color:#fff
}

.form-container form p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.form-container form p a {
    color: #dc143c;
}
